* {
    box-sizing: border-box;
    margin: 0;
    
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_slnt\,wght.ttf")
}

html body {
    background-color: #FDFFFC;
    width: 100%;
    margin: 0%;
    font-family: "Inter";
}

header {
    background-color: #538F60;
    height: 20vh;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px; 
    max-width: 130px;

}

#hamburger-menu {
    display: none;
}

.fa-bars {
    font-size: 3em;
    color: #FFFFFF;
    padding: 10px; 
    padding-top: 10px; 
    position: absolute;
    right: 10px;
}

nav {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.menu {
    background-color: #538F60;
    position:absolute;
    top: 80px; 
    right: 0px; 
    left: 0px;
}
.menu li {
    list-style: none;
}
.menu a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    color: #FDFFFC;
    font-size: 1.2em;
    font-weight: 600;
}

main {
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.mammoth-img {
    max-width: 100%;
    align-self: center;   
    border-radius: 20px; 
}

h1 {
    color: #FDFFFC;
    font-size: 2em;
    position: absolute;
    top: 5%;
    left: 0%;
    right: 0%;
}

p {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}  

.a-tag {
    position: absolute;
    bottom: 1%; 
    left: 3%; 
    text-decoration: none;
    color:#FDFFFC;
    font-size: 1.5em; 
}

.gradient-background-green {
    margin-top: -10%; 
    padding: 15% 5%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(83,143,96,1) 89%);
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding-top: 20px; 
}

.circle-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;    
}

h3 {
    font-size: 1.3em;
    text-align: center;
    padding-top: 55%;
}

.circle-image {
    clip-path: circle(50% at 50% 50%);
    width: 100%;
}

.gradient-background {
    background: rgb(255,255,255);
    margin-top: -50%;
    max-height: 150vh;
}

.gradient-background-blue {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(87,169,203,1) 89%);
}
.gradient-background-yellow {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,226,104,1) 89%);
}
.gradient-background-purple {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(156,82,139,1) 89%);
}


.container {
    position: relative;
    text-align: center;

}

.upcoming-events-text {
    color:#FDFFFC;
    font-size: 2em;
    font-weight: 600;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.desktop-display {
    display: none;
}

footer {
    background-color: #538F60;
    height: 30vh;
}

@media (min-width: 800px) {
    header {
        display: flex;
        background-color: #FDFFFC;   
    }

    .logo {
        top: 0px;
        left: 0px; 
        max-width: 200px;
        padding: 20px; 
        padding-right: 30px;
        background-color: #538F60;
        border-radius: 0px 0px 30px 0px;
    }

    .background-header {
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        background-color: #538F60;
        width: 100%;
        height: 10%;
    }

    nav {
        display: block;
        
    }

    .menu {
        top: 10%;
        left: 20%;
        background-color: #FDFFFC;
        display: flex;
        justify-content: space-evenly;
    }
    
    .menu a {
        color: #000000; 
        font-size: 1em;
        
    }

    .container {
       margin-top: 2%;
    }

    .mammoth-img {
        border-radius: 20px 150px 20px 20px;
        max-width: 100%;
        align-self: center;
    }

    .mammoth-text {
        position: absolute;
        top: 10%; 
        right: 8%;
        color:#FDFFFC;
        font-size: 0.7em;
    }
    
    .a-tag {
        bottom: 3%; 
        left: 3%; 
        font-size: 1.2em; 
    }
    
    .explore-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .circle-boxes {
        align-self: center;
        padding: 3%; 
    }

    .desktop-display {
        display: block;
    }

    h4 {
        font-size: 1.3em;
        text-align: center;
    }

    .mobile-display {
        display: none; 
    }

    p {
        font-size: 1em;
    }

    


}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .menu {
        left: 30%;
    }

    h1 {
        top: 4%;
        left: 50%;
        right: 5%; 
        font-size: 1.3em;
    }
}


@media (min-width: 1000px) {
    main {
        margin: 3% 2.5%;
    }

    h1 {
        top: 4%;
        left: 50%;
        right: 5%; 
    }

    .mammoth-text {
        top: 12%; 
        right: 8%;
        font-size: 0.8em;
    }
}

@media (min-width: 1000px) {
    h1 {
        left: 63%; 
    }
}
