h1 {
    color: #FFFFFF;
    font-size: 1.6em;
    position: absolute;
    bottom: 90%;
    left: 0%;
    right: 0%; 
}

p {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}  

.a-tag {
    position: absolute;
    bottom: 1%; 
    right: 3%; 
    text-decoration: none;
    color:#FDFFFC;
    font-size: 1.6em;
    font-weight: 600; 
}

.gradient-background-green {
    margin-top: -10%; 
    padding: 15% 5%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(83,143,96,1) 89%);
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding-top: 50px; 
}

 

.container {
    position: relative;
    text-align: center;

}

.upcoming-events-text {
    color:#FDFFFC;
    font-size: 2em;
    font-weight: 600;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (min-width: 675px) {
    .gradient-background-green {
        align-self: center;
        max-width: 626px; 
    }

    .a-tag {
        right: 8%; 
    }
}

@media (min-width: 800px) {

    .container {
       margin-top: 0%;
    }

    h1 {
        z-index: 2;
        bottom: 3%; 
        left: 3%;
        right: 65%;  
        text-decoration: none;
        color:#FDFFFC;
        font-size: 1.2em;
        font-weight: 600;   
    }

    .mammoth-img {
        border-radius: 200px 200px 20px 20px;
        max-width: 100%;
        align-self: center;
        margin: 0%; 
    }

    .mammoth-text {
        position: absolute;
        top: 10%; 
        left: 60%;
        right: 8%;
        color:#FDFFFC;
        font-size: 0.7em;
    }
    
    .a-tag {
        bottom: 3%; 
        right: 3%; 
        font-size: 1em; 
        z-index: 2;
    }

    .desktop-display {
        display:flex;
    }

    h4 {
        font-size: 1.3em;
        text-align: center;
        margin-top: 3%; 
    }

    .h4-height {
        height: 50px;
    }

    .mobile-display {
        display: none; 
    }

    p {
        font-size: 1em;
    }
}


@media (min-width: 1000px) {
  
h1 {
    font-size: 1.5em;
    right: 65%;
}

}

